* {
    box-sizing: border-box;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    margin: 0;
    min-height: 100vh;
    background: radial-gradient(rgb(17, 17, 43), rgb(14, 14, 43));
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    max-width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(110, 109, 128);
    border-bottom: 2px solid rgb(20, 20, 41);
    box-shadow: 2px 2px 2px black;
    margin: 0 0 2em 0;
    padding: 1em 0 2em 0;
}

.main-heading {
    margin: 0.5em 0;
    color: rgb(5, 5, 49);
    text-shadow: 1px 1px 1px black;
    font-size: 2.3rem;
}

.search-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-label {
    font-size: 1.5rem;
}

#search-input {
    border-radius: 10px;
    border: none;
    padding: 0.5em;
    margin: 0 1em;
    text-align: center;
    font-size: 1.1rem;
}

.search-button,
.details-button,
.movie-details-close-btn {
    background-color: rgb(199, 183, 183);
    font-size: 1rem;
    font-weight: 700;
    color: rgb(8, 8, 34);
    padding: 0.4em 0.7em;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid rgb(8, 8, 34);
}

.search-button:focus,
.search-button:hover,
.details-button:focus,
.details-button:hover,
.movie-details-close-btn:focus,
.movie-details-close-btn:hover {
    background-color: rgb(170, 155, 155);
}

.results-container {
    width: 100%;
    margin: 0 auto;
    padding: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

.movie-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(126, 125, 139);
    width: 18%;
    border: 1px solid black;
    padding: 1em;
    border-radius: 10px;
    text-align: center;
}

.movie-image {
    margin-bottom: 1em;
}

.movie-title {
    width: 90%;
    margin: 0 auto;
    word-wrap: break-word;
}

.movie-year {
    margin: 0.5em 0;
    font-size: 1.4rem;
}

.footer-section {
    margin: 1em;
    padding: 1em 0;
    width: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
}

.error-text {
    color: rgb(165, 6, 6);
    background-color: #fff;
    padding: 1em;
}

.movie-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-details-info {
    padding: 0 1em;
}

.movie-details-modal[open] {
    width: 50vw;
    background: radial-gradient(rgb(17, 17, 43), rgb(14, 14, 43));
    color: #fff;
    border: 3px solid #fff;
    position: fixed;
    top: 5em;
    margin: 0 auto;
}

.movie-details-image {
    width: 50%;
}

@media (max-width: 950px) {
    .movie-details-modal[open] {
        width: 90vw;
        top: 1em;
    }
    .movie-container {
        width: 45%;
    }
}
