* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background: radial-gradient(rgb(17, 17, 43), rgb(14, 14, 43));
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    max-width: 100%;
}

.header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(110, 109, 128);
    border-bottom: 2px solid rgb(20, 20, 41);
    box-shadow: 2px 2px 2px black;
    margin: 0 0 2em 0;
    padding: 2em;
}

.main-heading {
    margin: 0.5em 0;
}

#search-input {
    border-radius: 10px;
    border: none;
    padding: 0.5em;
    margin: 0 1em;
}

.search-button {
    padding: 0.4em 0.7em;
    cursor: pointer;
}

.results-container {
    margin: 1em;

    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.movie-container {
    background-color: rgb(126, 125, 139);
    width: 10em;
    border: 1px solid black;
}

.footer-section {
    margin: 1em;
    padding: 1em 0;
    display: flex;
    justify-content: center;
}
